@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ffffff30 transparent;
}

.bg-gray-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}

.sm\:ui-not-open\:bg-gray-1[data-headlessui-state]:not([data-headlessui-state~="open"]) {
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}

.ui-not-checked\:bg-white\/50[data-headlessui-state]:not([data-headlessui-state~=checked]) {
  background-color: hsla(0, 0%, 100%, .5);
  height: 15px;
}

.testnet-toggle-on {
  background-color: rgb(0 0 0/1);
  transform: translate(3px, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.testnet-toggle-off {
  background-color: rgb(0 0 0/1);
  transform: translate(15px, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

button:focus-visible, input:focus-visible {
  box-sizing: border-box;
  outline-offset: -2px;
  outline: 2px solid #005fcc;
}

table {
  width:100%;
  text-align: center;
  color: white;
  border-spacing: 10px; 

}

table button {
  background-color: #005fcc79;
  padding: 5px;
  border-radius: 3px;
}